.desktop2-container {
  min-height: 100vh;
}
.desktop2-desktop2 {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-text {
  top: 104px;
  left: 65px;
  color: rgba(184, 102, 4, 1);
  width: 395px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text01 {
  top: 154px;
  left: 492px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text02 {
  top: 155px;
  left: 1053px;
  color: rgba(209, 10, 10, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text03 {
  top: 156px;
  left: 866px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text04 {
  top: 156px;
  left: 703px;
  color: rgba(184, 102, 4, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-akariconscart {
  top: 156px;
  left: 1322px;
  width: 52px;
  height: 52px;
  display: flex;
  padding: 5px 4px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop2-group {
  width: 34px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-antdesignmenuoutlined {
  top: 152px;
  left: 1240px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-image1 {
  top: 429px;
  left: 288px;
  width: 170px;
  height: 96px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-image2 {
  top: 430px;
  left: 703px;
  width: 167px;
  height: 94px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-image3 {
  top: 429px;
  left: 1115px;
  width: 167px;
  height: 97px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-image4 {
  top: 683px;
  left: 288px;
  width: 169px;
  height: 96px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-image5 {
  top: 681px;
  left: 702px;
  width: 168px;
  height: 99px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-image6 {
  top: 682px;
  left: 1115px;
  width: 168px;
  height: 98px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop2-text05 {
  top: 561px;
  left: 288px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text06 {
  top: 816px;
  left: 288px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text07 {
  top: 816px;
  left: 705px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text08 {
  top: 816px;
  left: 1122px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text12 {
  top: 561px;
  left: 705px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text13 {
  top: 558px;
  color: rgba(0, 0, 0, 1);
  right: 154px;
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
