.desktop3-container {
  min-height: 100vh;
}
.desktop3-desktop3 {
  width: 1440px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.desktop3-text {
  top: 124px;
  left: 65px;
  color: rgba(184, 102, 4, 1);
  width: 395px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text01 {
  top: 174px;
  left: 492px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text02 {
  top: 175px;
  left: 1053px;
  color: rgba(209, 10, 10, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text03 {
  top: 176px;
  left: 866px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text04 {
  top: 176px;
  left: 679px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-akariconscart {
  top: 176px;
  left: 1322px;
  width: 52px;
  height: 52px;
  display: flex;
  padding: 5px 4px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop3-group {
  width: 34px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop3-antdesignmenuoutlined {
  top: 172px;
  left: 1240px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.desktop3-text05 {
  top: 407px;
  left: 73px;
  color: rgba(184, 102, 4, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text06 {
  top: 481px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  width: 310px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text07 {
  top: 419px;
  left: 647px;
  color: rgba(0, 0, 0, 1);
  width: 374px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-text08 {
  top: 506px;
  left: 647px;
  color: rgba(0, 0, 0, 1);
  width: 572px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop3-rectangle2 {
  top: 609px;
  left: 653px;
  width: 292px;
  height: 74px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 19px;
  background-color: rgba(217, 217, 217, 1);
}
.desktop3-text09 {
  top: 633px;
  left: 668px;
  color: rgba(0, 0, 0, 1);
  width: 255px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
